.inputField1 {
  /* color: white ; */
  /* background-color: var(--primaryColor); */
  transition: all 0.1s ease;
  padding: 10px;
  margin: 5px;
  height: 45px;
  font-size: 18px;
  border: 1px solid var(--primaryColor);
}
.inputField1:focus-visible {
  outline: 1px solid var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
}
.submitBtn {
  padding: 8px 10px;
  background-color: var(--primaryColor);
  color: white;
  /* font-weight: bold; */
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
}
.submitBtn2{
color: white;
background-color: var(--secondaryColor);
  /* font-weight: bold; */
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
  padding: 8px 10px;
}