
.appointmentCard_container {
  background-color: #8ff0ec;
}

.timeBadge {
  padding: 5px 10px !important;
  color: white;
  font-weight: bold;
  background-color: var(--primaryColor) !important;
}
