.solutionContainer {
  background-image: url("https://i.ibb.co/qBJCqpY/solution-doctor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primaryColor);
  padding: 8vh 0;
}
.card {
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.card:hover {
  background-color: var(--secondaryColor) !important;
  color: white !important;
}
